
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        #player {
            height: 100%;
        }
        #controls {
            padding: 1rem;
        }
        #controls i {
            padding-top: 0.3rem;
            display: block;
        }
        .control {
            padding-right: 1rem;
        }
        #files {
            padding: 0.5rem;
        }
        #files a {
            padding: 0.5rem;
        }
